.ic-dbsMfg-body {
	.view-content{
		padding: 100px 50px;
	}

	.creaditienl-boxes {
		background-color: whitesmoke;
	    padding: 50px;
	    width: 500px;
	    margin: auto;
	    border-radius: 5px;
	}

	.text-red {
		color: red;
	}
}

.delete-btn {
	color: red;
	z-index: 1;
}
.ace_editor { height: 600px; }
.text-red { color: red }
.m-t-10 { margin-top: 10px }

@import "../libs/bootstrap/scss/bootstrap.scss";
@import "light";
