<html>
	<head>
		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/light.css">
		<script src="/libs/jquery/dist/jquery.min.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/libs/angular/angular.min.js"></script>
		<script src="/angulars/config.js"></script>
		<script src="/angulars/controllers/header.js"></script>
		<script src="/angulars/controllers/light.js"></script>
	</head>
	<body data-ng-app="light">
		<div ng-include="'/angulars/views/header-nav.html'"></div>
	</body>
</html>